[Unit]
Description=Sincronização do Obsidian via Rclone (UWSM)
PartOf=graphical-session.target
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=300
ExecStart=%h/.local/bin/sync-obsidian start
ExecStop=%h/.local/bin/sync-obsidian stop

[Install]
WantedBy=graphical-session.target