configuration {
    show-icons: false;
}

* {
    bg:            #000000;
    bg-alt:        #111111;
    fg:            #f7d83b;
    fg-unselected: #a8a8a8;
    accent:        #f7d83b;
    
    background-color: transparent;
    text-color:       @fg-unselected;
    font:             "JetBrainsMono Nerd Font 12";
}

window {
    background-color: @bg;
    border:           1px;
    border-color:     @accent;
    border-radius:    1px;
    width:            300px; /* Janela bem menor e compacta */
    padding:          15px;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 10px;
}

inputbar {
    background-color: @bg-alt;
    border-radius:    1px;
    padding:          8px;
    children:         [ prompt ];
}

prompt {
    text-color: @accent;
    font:       "JetBrainsMono Nerd Font Bold 11";
}

listview {
    lines:        5;
    columns:      1;
    fixed-height: true;
    spacing:      6px;
    scrollbar:    false;
}

element {
    padding:       10px;
    border-radius: 1px;
    background-color: @bg-alt;
}

element-text {
    text-color: @fg-unselected;
}

element selected.normal,
element selected.active {
    background-color: @accent;
}

element-text selected {
    text-color:  #000000;
    font-weight: bold;
}