[Unit]
Description=Configuração de Câmeras Virtuais v4l2loopback para o OBS
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/obs-v4l2loopback

[Install]
WantedBy=graphical-session.target